@import url(./styles/header.css);
@import url(./styles/historia.css);
@import url(./styles/rodape.css);
@import url(./styles/carrossel.css);
@import url(./styles/regras.css);
@import url(./styles/perfil.css);

:root {
    --preto: #182825;
    --azul: #016FB9;
    --laranja: #F18701;
    --branco: #f8f0b5;
    --ciano: #59D2FE;
    --fonte: "Embed code";
}

body{
    background-color: var(--preto);
    color: var(--branco);
    font-family: var(--fonte);
    font-weight: 300;
}
